<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="estado else loading">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'/home'">Clinica Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkupL">
            <div class="navbar-nav">
                <a class="nav-link " [routerLink]="'/home'" routerLinkActive="active" aria-current="page">Home</a>
                <a class="nav-link" [routerLink]="'/usuarios'" routerLinkActive="active" *ngIf="user.isAdmin">Usuarios</a>
                <!-- <a class="nav-link" [routerLink]="'/resultados'" routerLinkActive="active">Resultados</a> -->
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkupR">
            <!-- <div class="navbar-nav" *ngIf="_authService.user.token == undefined">

                <a class="nav-link " [routerLink]="'/signin'" routerLinkActive="active">Sign In</a>
                <a class="nav-link" [routerLink]="'/signup'" routerLinkActive="active">Sign Up</a>

            </div> -->
            <div class="navbar-nav">

                <a class="nav-link " (click)="logOut()" [routerLink]="'/signin'" routerLinkActive="active">Log Out</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ user.email }}</a>
            </div>
        </div>
    </div>
</nav>
<div>
    <ng-template #loading>
        <div class="img-container-block">cargando...
            <!--img src="assets/imagenes/ajax-loader.gif" style="height: 10px;width: 30px;">
            <img src="{{rutaDeGif}}" -->
            <img [src]="rutaDeGif" [ngStyle]="{'width.px': anchoGif}">
        </div>
    </ng-template>
</div>